@model SocialMediaDto

<!-- Begin page -->
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">SocialMedia</a></li>
                        <li class="breadcrumb-item active">SocialMedia Güncelle</li>
                    </ol>
                </div>
                <h4 class="page-title">SocialMedia Güncelle</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">SocialMedia</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Facebook</th>
                                    <th>İnstagram</th>
                                    <th>Twitter (X)</th>
                                    <th>Youtube</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form method="post" action="/SocialMediaSociety/UpdateSocialMedia">
                                <tr>
                                    <td>Facebook</td>
                                    <td></td>
                                    <td><input style="width: 100%; max-width: 100%; resize: vertical;" type="text" name="Facebook" value="@Model.Facebook"></td>
                                </tr>

                                <tr>
                                    <td>İnstagram</td>
                                    <td></td>
                                    <input style="width: 100%; max-width: 100%; resize: vertical;" type="text" name="İnstagram" value="@Model.İnstagram">
                                </tr>
                                <tr>
                                    <td>Twitter (X)</td>
                                    <td></td>
                                    <td><input style="width: 100%; max-width: 100%; resize: vertical;" type="text" name="Twitter" value="@Model.Twitter"></td>
                                </tr>
                                <tr>
                                    <td>Youtube</td>
                                    <td></td>
                                    <td><input style="width: 100%; max-width: 100%; resize: vertical;" type="text" name="Youtube" value="@Model.Youtube"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                        <button type="submit" class="btn btn-link text-reset fs-16 px-1">Onayla</button>
                                    </td>
                                </tr>
                                </form>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <input value="@ViewBag.Message" id="bag" style="display:none;" />
                </div>
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->
</div> <!-- container -->
<!-- end Footer -->


<script>
    var data = document.getElementById("bag").value;
    console.log("DATA " + data);
    if (data == "Başarılı") {
        swal("İşleminiz başarı ile gerçekleşti", {
            icon: "success",
            button: "Tamam!",
        });
    } else if (data == "Başarısız") {
        swal("Hata oluştu daha sonra tekrar deneyin!", {
            icon: "error",
            button: "Tamam!",
        });
    }
</script>
